* {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

*:not(.pacman):not(.pacman-icon) {
  transition: all 0.3s;
}

body {
  overflow-x: hidden;
}
.consolas {
  font-family: "Courier New", Courier, monospace;
}

body,
h1,
h2,
h3 {
  margin: 0;
}

.pacman {
  z-index: 10;
}

.flex {
  display: flex;
  gap: 10px;
}

.flex-space-between {
  justify-content: space-between;
}
.flex-start {
  justify-content: start;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-bottom-align {
  align-items: end;
}

.flex-dir-down {
  flex-direction: column;
}

.flex-dir-up {
  flex-direction: column-reverse;
}

.flex-center-center {
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.whiteText {
  color: white;
}

.scrollX {
  overflow-x: auto;
}

.header {
  background-color: white;
  position: fixed;
  width: 100vw;
  padding: 5px 10vw;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-bottom: 1px dotted lightgray;
  box-shadow: 0 -12px 25px 1px #d3d3d3;
  z-index: 1;
}

.navbar {
  padding: 10px;
}

.title {
  word-spacing: 5px;
}
.navButton {
  padding: 7px 15px;
  border-radius: 20px;
  margin: 6px;
  border: 1px dotted #f0f0f0;
  background-color: #f7f7f7;
  box-shadow: 0 0 20px 1px #f7f7f7;
  cursor: pointer;
}

.main {
  width: 85%;
  margin: 150px auto;
  color: #444;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.chapter {
  scroll-margin-top: 150px;
  box-shadow: 0 0 20px 1px #eee;
  padding: 20px;
  border: 1px lightgray dotted;
  border-radius: 25px;
  max-width: 650px;
  /*min-height: 350px;*/
  min-width: 450px;
}

.chapterDescr {
  background-color: rgb(217, 233, 243);
  border-radius: 20px;
  padding: 7px 15px;
}

.badge {
  padding: 7px 15px;
  border-radius: 20px;
  margin: 7px;
}

.column {
  padding: 15px 15px;
  border-radius: 10px;
  overflow: hidden;
  min-width: 60px;
  filter: saturate(70%);
  transition: all 0.3s;
}

.column:hover {
  filter: saturate(100%);
  min-width: 80px;
}

.column-proj {
  display: block;
  line-height: 0em;
  filter: opacity(0%);
  transition: all 0.3s;
}
.column:hover .column-proj {
  line-height: 1em;
  filter: opacity(100%);
}

.rot90CW {
  display: inline-block; /* needed so transform affects element box */
  transform-origin: left top; /* anchor pivot at top-left */
  width: 1px;
  white-space: nowrap;
  overflow: visible;
  transform: rotate(90deg) translateY(-100%); /* rotate 90° clockwise */
}

.markTriplet {
  padding: 5px;
}

.logo {
  aspect-ratio: 1;
  width: 85%;
  border-radius: 12px;
  border: 1px dotted #ececec;
  box-shadow: 0 0 25px 0 #ececec;
}

.slider-container {
  margin-top: 30px;
}

.slider-top {
  height: 350px;
  padding: 5%;
  background-color: lightblue;
  text-align: center;
}

.github {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-family: system-ui;
  margin-top: 125px;
  padding: 7px;
  border: 2px solid blue;
  background-color: rgb(175, 196, 255);
  border-radius: 10px;
}

.slider-img,
.slider-video {
  margin: auto;
  height: 100%;
  width: auto;
}

.slider-title,
.slider-descr {
  margin: 5px;
}

.pos-relative {
  position: relative;
}

.shake {
  /*display: inline-block;  or block as needed */
  animation: shake 2.8s ease-in;
  /* autoplay once — remove 'forwards' if you want it to return to original instantly */
  animation-iteration-count: 1;
  animation-fill-mode: both;
  will-change: transform;
}
.dark {
  background-color: #d1d1d1 !important;
}

.contrast {
  filter: brightness(1.1) !important;
  color: lightgray !important;
}
.rot5 {
  transform: rotate(5deg) !important;
}
.rot90 {
  transform: rotate(90deg) !important;
}

.hidden {
  height: 0%;
  visibility: hidden;
}

#repair-menu {
  position: absolute;
  width: 25%;
  padding: 25px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 15px 1px black;
  z-index: 7;
}
